In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("daily_CO_time_series_all_plants.csv")
df = pd.DataFrame(data)

In [3]:
df.head()

         date                            name   latitude  longitude  mean
0  2018-07-04  Action Ispat and Power Pvt Ltd  21.839759  83.982227   NaN
1  2018-07-04      Mahanada Suppliers Pvt Ltd  22.308371  84.763584   NaN
2  2018-07-04                ArcelorMittal SA  15.139498  76.918417   NaN
3  2018-07-04                ArcelorMittal SA  17.407103  82.723183   NaN
4  2018-07-04                ArcelorMittal SA  20.168486  79.987119   NaN

In [4]:
df.isnull().sum()

date               0
name               0
latitude           0
longitude          0
mean         1927609
dtype: int64

In [5]:
df.shape

(2013419, 5)

In [6]:
df.dropna(inplace = True)

In [7]:
df.shape

(85810, 5)

In [8]:
df = df.to_csv("Daily_CO_Time_Series_Data.csv", index = False)