In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("daily_NO2_time_series_all_plants.csv")
df = pd.DataFrame(data)

In [3]:
df.head()

         date                            name   latitude  longitude  mean
0  2018-07-01  Action Ispat and Power Pvt Ltd  21.839759  83.982227   NaN
1  2018-07-01      Mahanada Suppliers Pvt Ltd  22.308371  84.763584   NaN
2  2018-07-01                ArcelorMittal SA  15.139498  76.918417   NaN
3  2018-07-01                ArcelorMittal SA  17.407103  82.723183   NaN
4  2018-07-01                ArcelorMittal SA  20.168486  79.987119   NaN

In [4]:
df.isnull().sum()

date               0
name               0
latitude           0
longitude          0
mean         1929129
dtype: int64

In [5]:
df.shape

(2018127, 5)

In [10]:
df.dropna(inplace = True)

In [11]:
df.shape

(88998, 5)

In [12]:
df = df.to_csv("Daily_NO2_Time_Series_Data.csv", index = False)